/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

/* format for table and cells */
td {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #000;
    padding :0;
  }


input[type="number"]{
    width: 100%;
    height: 100%;
    font-size: 18px;
    text-align: center;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    -moz-appearance: textfield; /* Remove arrow in Firefox */
    -webkit-appearance: none; /* Remove arrow in WebKit browsers */
    appearance: none;
  }

/* Remove arrow in WebKit browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


  /* Printing thick border lines inside the table*/
.border-right-width {
    border-right-width: thick;
    border-right-color: black;
    
}
.border-bottom-width {
    border-bottom-width: thick;
    border-bottom-color: black;
}

/* format for form */
.form-center-grid {
    margin: 0 auto;
    max-width: 400px; 
    flex-direction: column; 
    align-items: center; 
}

/* Highlight cell */
.question-cell {
    background-color: lightgrey;
}

.userAns-cell {
    background-color: lightgreen;
}

.wrongAns-cell{
    background-color: red;
}

/* Flexboxes For comparing answers */
.table-AnswerComparison{
    display: flex;
    gap: 20px;;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    
}