{% extends "layout.html" %}

{% block title %}
    answer
{% endblock %}

{% block main %}



<div class="table-AnswerComparison">
    <div>
        <form method="POST" action="#" class = "form-center-grid">
            <table>
                <caption>Your Answer</caption>
                {% for row_index in range(rowInitial|length) %}
                <tr {% if row_index == 2 or row_index == 5 %} class="border-bottom-width"{% endif %}>
                    {% for col_index in range(colInitial|length) %}
                    <td {% if col_index == 2 or col_index == 5 %} class="border-right-width"{% endif %}>
                            <input type="number" min="1" max="9" name="{{ rowInitial[row_index] }}{{ colInitial[col_index] }}"                       
                                value="{{ userAnsDict[rowInitial[row_index] + colInitial[col_index]] }}"
                                readonly 
                                {% if question_dict[rowInitial[row_index] + colInitial[col_index]] == userAnsDict[rowInitial[row_index] + colInitial[col_index]] %}
                                    class="question-cell"
                                {% elif userAnsDict[rowInitial[row_index] + colInitial[col_index]] != answer_dict[rowInitial[row_index] + colInitial[col_index]] %}
                                    class = "wrongAns-cell"
                                {% else %}
                                    class="userAns-cell"
                                {% endif %}
                            >
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </form>
    </div>

    <div>
        <form method="POST" action="#" class = "form-center-grid">
            <table class = "form-table">
                <caption>Answer</caption>
                {% for row_index in range(rowInitial|length) %}
                <tr {% if row_index == 2 or row_index == 5 %} class="border-bottom-width"{% endif %}>
                    {% for col_index in range(colInitial|length) %}
                    <td {% if col_index == 2 or col_index == 5 %} class="border-right-width"{% endif %}>
                            <input type="number" min="1" max="9" name="{{ rowInitial[row_index] }}{{ colInitial[col_index] }}"                       
                                value="{{ answer_dict[rowInitial[row_index] + colInitial[col_index]] }}"
                                readonly 
                                class="question-cell"
                            >
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </form>
    </div>
</div>


<div>
    <b>{{message}}</b>
</div>
{% endblock %}
