{% extends "layout.html" %}

{% block title %}
    game
{% endblock %}

{% block main %}
<div>
    <b>Try to solve this soduku question</b>
</div>

<div>

    <head>
        <title>Sudoku Grid</title>
    </head>
    <body>
        <form method="POST" action="#" class = "form-center-grid">
            <table>
                {% for row_index in range(rowInitial|length) %}
                <tr {% if row_index == 2 or row_index == 5 %} class="border-bottom-width"{% endif %}>
                    {% for col_index in range(colInitial|length) %}
                    <td {% if col_index == 2 or col_index == 5 %} class="border-right-width"{% endif %}>
                        <input type="number" min="1" max="9" name="{{ rowInitial[row_index] + colInitial[col_index] }}" 
                            {% if question_dict[rowInitial[row_index] + colInitial[col_index]] != '0' %}                             
                                value="{{ question_dict[rowInitial[row_index] + colInitial[col_index]] }}"
                                    readonly
                                    class="question-cell "
                            {% endif %}
                            >
                        
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            <div>
                <br>
            </div>
            <button class="btn btn-primary" type="submit">Submit Answer</button>
        </form>
</div>


{% endblock %}
